<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration debug="true" scan="true">

    <property resource="logback.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date : [%-5level] %thread [%-35logger{10}:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.dir}/${log.file.name}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file.dir}/${log.file.name}.%d.gz</fileNamePattern>

        </rollingPolicy>

        <encoder>
            <pattern>%date : [%-5level] %thread [%logger{10}:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="DAILY_REPORT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.dir}/report/${log.file.daily.report}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file.dir}/report/${log.file.daily.report}.%d.gz</fileNamePattern>
        </rollingPolicy>


        <encoder>
            <pattern>%date : [%-5level] %thread [%logger{10}:%line] %msg%n</pattern>
        </encoder>
    </appender>



    <logger name="com.softcafe" level="INFO" />

    <logger name="com.softcafe.cash.service.CashReportService" level="INFO">
        <appender-ref ref="DAILY_REPORT_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="DAILY_FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
